.portfolio__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: .5rem;
    transition: var(--transition);
    background-color: #57737A;
}

.github {
    background-color: black;
    border: none;
    color: white
}

.github:hover {
    opacity: .3;
    color: orange
}



.demo:hover {
    background: #85BDBF;
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    max-height: 200px;
}

.portfolio__item p {
    margin: 0 0 1rem;
    text-align: center;
    color: rgb(206, 203, 203);
    font-size: medium;
}

.portfolio__item h3 {
    margin: 1.2rem 0 0;
    text-align: center;
}

.portfolio__item-image:hover {
    opacity: .3;
}

.portfolio__item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

#portfolioImg {
    width: 100%;
    height: 15rem;

}