nav {
    background-color: rgb(100, 124, 126);
}



h2 {
    color: white;
    font-weight: bold;
    font-family: 'PlayfairDisplay', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


body {
    background-color: #85BDBF;

}

::-webkit-scrollbar {
    display: none;
}