p {
    color: black;
    font-size: large;
    font-weight: bold;
    text-align: justify;
    text-justify: inter-word;
}

nav {
    background-color: rgb(100, 124, 126);
}



h2 {
    color: #C9FBFF;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


body {
    background-color: #85BDBF;

}

::-webkit-scrollbar {
    display: none;
}